<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rob.dcomproject" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dartboard"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <uses-permission android:name="android.permission.INTERNET" />

        <activity android:name=".Splashscreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <activity
            android:name=".NewGameScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Players"
            android:label="@string/title_activity_players"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".TwoPlayers"
            android:label="@string/title_activity_two_players"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".One_Player"
            android:label="@string/title_activity_one__player"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Five"
            android:label="@string/title_activity_five"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Checkout"
            android:label="@string/title_activity_checkout"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Unlimited"
            android:label="@string/title_activity_unlimited"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".LeagueView"
            android:label="@string/title_activity_league_view"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".LeagueTables"
            android:label="@string/title_activity_league_tables"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".RandomLeague"
            android:label="@string/title_activity_random_league"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".GameMatch"
            android:label="@string/title_activity_game_match"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".submit_Scores"
            android:label="@string/title_activity_submit__scores"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".reg_Team"
            android:label="@string/title_activity_reg__team"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
    </application>

</manifest>
